$skill-amount: (
  "foundation": spin-foundation,
  "intermediate": spin-intermediate,
  "pro": spin-pro,
  "highly-skilled": spin-highly-skilled,
);

@mixin spinning($spinOne: spin-highly-skilled, $spinTow: spin-highly-skilled2) {
  &::before,
  &::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 140px;
    height: 140px;
    clip: rect(0px, 70px, 140px, 0px);
    background-color: black;
    transform: rotate3d(0, 0, 1, 180deg);
    animation: 1s $spinTow linear 1.5s forwards;
    z-index: 2;
  }
  &::after {
    content: " ";
    background: #bababa;
    z-index: 1;
    animation: 1s $spinOne linear 0.5s forwards;
  }
}

.skill-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 140px;
  position: relative;
  overflow: hidden;
  padding: 20px;
  border-radius: 50%;
  transform: rotate3d(0, 0, 1, 0.001deg);
  pointer-events: none;
  &:hover {
    @each $key, $val in $skill-amount {
      &.#{$key} {
        @include spinning(#{$val}, #{$val}2);
      }
    }
  }
  .skill {
    pointer-events: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(59, 59, 59);
    gap: 1rem;
    z-index: 4;   
    min-width: 130px;
    height: 130px;
    border-radius: 50%;
    background: black;
  }
  .skill-background {
    position: absolute;
    height: 140px;
    min-width: 140px;
    background: black;
    border-radius: 50%;
  }
}

@keyframes spin-foundation {
  from {
    transform: rotate3d(0, 0, 1, 180deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 300deg);
  }
}
@keyframes spin-foundation2 {
}

@keyframes spin-intermediate {
  from {
    transform: rotate3d(0, 0, 1, 180deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
@keyframes spin-intermediate2 {
}

@keyframes spin-pro {
  from {
    transform: rotate3d(0, 0, 1, 180deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
@keyframes spin-pro2 {
  from {
    background: #bababa;
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    background: #bababa;
    transform: rotate3d(0, 0, 1, 60deg);
  }
}

@keyframes spin-highly-skilled {
  from {
    transform: rotate3d(0, 0, 1, 180deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
@keyframes spin-highly-skilled2 {
  from {
    background: #bababa;
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    background: #bababa;
    transform: rotate3d(0, 0, 1, 160deg);
  }
}
